body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin:20px;
  color: #fffcfc;
  background-color: #171717;
  font-family: verdana;
  font-size: 100%;

}

header{
  font-size: 2.5em;
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px;
}

h1{
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5em;
}


h2{
  color: #fffafa;
  font-size: 1.5em;
}

h3{
  color: #fffafa;
  font-size: 1.25em;
}

.starter-template{
    padding: 40px 50px;
}

.container {
  width: 1280;
  margin: auto;
}

.text-muted{
  color: #ffffff;
  font-size: 0.5em;
}

.lead{
  color: #ffffff;
}

article {
margin-left: 100px;
border-left: 1px solid grey;
padding: 10px;
overflow: hidden;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #e70202;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.nav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
